---
//write any js here
---
<section>
    <div class="bg-red-600 text-center">
        Footer
    </div>
    <div>

    </div>
    <p class='bg-yellow-500 text-center py-2 font-medium  text-lg'><button class='py-1 px-2 bg-gray-700 text-white  hover:scale-105 rounded transition-all '><a href={'/admission/apply'}>Apply Now!</a></button> and reserve your seat</p>
</section>
<style>
    /*write css here*/
</style>