---
//write any js here
---
<section class="">
    <nav class="fixed top-0 left-0 right-0 z-50 bg-black text-white bg-opacity-50 backdrop-blur-md flex justify-between items-center py-3 px-3 md:px-20">
        <div class="navbar-logo">
          <img class='h-20 w-16' src="/logo.png" alt="logo" />
        </div>
        <ul class=" flex items-center space-x-10 text-lg font-extrabold ">
          <li class="hover:text-red-500 transition-colors"><a href="/">Home</a></li>
          <li class="hover:text-red-500 transition-colors"><a href="/courses">Courses</a></li>
          <li class="hover:text-red-500 transition-colors"><a href="/gallery">Gallery</a></li>
          <li class="hover:text-red-500 transition-colors"><a href="/about">About</a></li>
          <li class="hover:text-red-500 transition-colors"><a href="/contact">Contact</a></li>
          <li><button class='btn bg-red-600 text-yellow-500 hover:bg-yellow-500 hover:text-red-600 p-1 rounded transition-all'>Enquire Now</button></li>
        </ul>
      </nav>
</section>
<style>
  /*write any css here*/
</style>